*,
*,
*::before ,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
    // border: 1px solid red;
}

@media only screen and (max-width: 765px) {
    .container {
        padding: 0 20px;
    }
}